/* line 51, painter.scss */
* {
  box-sizing: border-box; }

/* line 3, painter.scss */
html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 57, painter.scss */
body {
  margin: 0;
  background: #777;
  font-family: Helvetica,Arial,sans-serif; }

/* line 62, painter.scss */
.container {
  max-width: 1080px; }

/************ HEADER *******************************/
/* line 67, painter.scss */
header {
  height: 160px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 3px 2px 0px #111; }
  /* line 72, painter.scss */
  header .recentDrawing {
    max-height: 100%;
    float: right; }
  /* line 76, painter.scss */
  header #logo {
    max-height: 100%;
    padding: 4px; }

/************ HERO TEXT ****************************/
/* line 84, painter.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 1px #333;
  margin: 10px 0 0; }

/************ LEFT COLUMN **************************/
/* line 93, painter.scss */
#imageContainer {
  text-align: center;
  font: 0/0 a; }
  /* line 97, painter.scss */
  #imageContainer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%; }
  /* line 103, painter.scss */
  #imageContainer img {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
    max-width: 100%;
    max-height: 100%;
    padding: 20px; }

/* line 112, painter.scss */
#pokemonName {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 36px;
  margin: 10px 0;
  text-shadow: 0 2px #333; }

/************ CENTER COLUMN **************************/
/* line 121, painter.scss */
.center-column {
  padding-top: 30px;
  text-align: center; }

/* line 125, painter.scss */
#timer {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  display: none; }

/* line 131, painter.scss */
#newRound {
  position: relative;
  background: #78bc3f;
  box-shadow: 0 4px 0 0 #306901;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  font-size: 36px;
  line-height: 30px;
  margin: 10px auto;
  padding: 15px 20px; }
  /* line 39, painter.scss */
  #newRound:enabled:active {
    top: 2px;
    box-shadow: none; }
  /* line 43, painter.scss */
  #newRound:disabled {
    opacity: 0.7; }

/* line 139, painter.scss */
#share, #save {
  position: relative;
  background: #478e95;
  box-shadow: 0 4px 0 0 #095057;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #095057;
  display: block;
  font-size: 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 20px;
  display: none; }
  /* line 39, painter.scss */
  #share:enabled:active, #save:enabled:active {
    top: 2px;
    box-shadow: none; }
  /* line 43, painter.scss */
  #share:disabled, #save:disabled {
    opacity: 0.7; }

/* line 148, painter.scss */
#save {
  text-decoration: none;
  margin: 0 auto; }
  /* line 151, painter.scss */
  #save:active {
    top: 2px;
    box-shadow: none; }

/************ RIGHT COLUMN **************************/
/* line 158, painter.scss */
#canvas, #imageContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #fff;
  display: block;
  margin: 10px auto 0px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #222;
  pointer-events: none;
  cursor: url(../img/cursor.png), crosshair; }

/* line 171, painter.scss */
.controls {
  margin: 0 auto;
  border-radius: 5px; }
  /* line 174, painter.scss */
  .controls ul {
    list-style: none;
    float: left;
    padding: 0;
    width: 100%;
    text-align: center; }
    /* line 180, painter.scss */
    .controls ul li {
      display: inline-block;
      margin: 0 5px 5px;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 2px 0 0 #222; }
      /* line 185, painter.scss */
      .controls ul li.selected {
        border: 2px solid #ccc;
        width: 50px;
        height: 50px;
        top: 2px;
        box-shadow: none; }
      /* line 192, painter.scss */
      .controls ul li a {
        display: block;
        height: 100%; }

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
/* line 14, painter.scss */
.red {
  background: #f42a35; }

/* line 14, painter.scss */
.orange {
  background: #ffa200; }

/* line 14, painter.scss */
.yellow {
  background: #ffd500; }

/* line 14, painter.scss */
.light-green {
  background: #a8bf12; }

/* line 14, painter.scss */
.green {
  background: #2eb52f; }

/* line 14, painter.scss */
.light-blue {
  background: #00aab5; }

/* line 14, painter.scss */
.blue {
  background: #325bc5; }

/* line 14, painter.scss */
.purple {
  background: #992fe0; }

/* line 14, painter.scss */
.brown {
  background: #875e37; }

/* line 14, painter.scss */
.gray {
  background: #8e969b; }

/* line 204, painter.scss */
.black {
  background: #000; }

/* line 208, painter.scss */
#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 5px 0 10px 0;
  width: 100%;
  position: relative; }
  /* line 216, painter.scss */
  #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px; }

/* line 232, painter.scss */
#newColor {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 2px 0 0 #222;
  background: #ffbee3;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  box-shadow: 0 3px 0 0 #222;
  float: left;
  border: none;
  margin: 20px; }

/* line 245, painter.scss */
.sliders p {
  margin: 8px 0;
  vertical-align: middle; }
/* line 249, painter.scss */
.sliders label {
  display: inline-block;
  margin: 0 10px 0 10px;
  width: 55px;
  font-size: 14px; }
/* line 255, painter.scss */
.sliders input {
  position: relative;
  top: 2px; }

/* line 261, painter.scss */
#addNewColor {
  position: relative;
  background: #946d9b;
  box-shadow: 0 4px 0 0 #5b575c;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #5b575c;
  display: block;
  font-size: 16px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  line-height: 40px;
  border-radius: 0 0 5px 5px;
  margin: 12px 0px -9px;
  padding: 5px 10px;
  width: 100%; }
  /* line 39, painter.scss */
  #addNewColor:enabled:active {
    top: 2px;
    box-shadow: none; }
  /* line 43, painter.scss */
  #addNewColor:disabled {
    opacity: 0.7; }

/********** FOOTER **********************/
/* line 272, painter.scss */
footer {
  margin-top: 40px;
  background: #444;
  color: #eee;
  padding: 10px 0; }
