/* line 30, painter.scss */
* {
  box-sizing: border-box; }

/* line 3, painter.scss */
html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 36, painter.scss */
body {
  background: #555;
  font-family: Helvetica,Arial,sans-serif; }

/* line 40, painter.scss */
.container {
  max-width: 1080px; }

/* line 44, painter.scss */
header {
  height: 160px; }

/* line 48, painter.scss */
#imageContainer {
  text-align: center;
  font: 0/0 a; }
  /* line 52, painter.scss */
  #imageContainer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%; }
  /* line 58, painter.scss */
  #imageContainer img {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
    max-width: 100%;
    max-height: 100%;
    padding: 20px; }

/* line 68, painter.scss */
#canvas, #imageContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #fff;
  display: block;
  margin: 10px auto 0px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #222;
  /*cursor*/ }

/* line 80, painter.scss */
.controls {
  margin: 0 auto;
  border-radius: 5px; }
  /* line 83, painter.scss */
  .controls ul {
    list-style: none;
    float: left;
    padding: 10px 0 0;
    width: 100%;
    text-align: center; }
    /* line 89, painter.scss */
    .controls ul li {
      display: inline-block;
      margin: 0 5px 5px;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 2px 0 0 #222; }
      /* line 94, painter.scss */
      .controls ul li.selected {
        border: 2px solid #ccc;
        width: 48px;
        height: 48px;
        top: 2px;
        box-shadow: none; }
      /* line 101, painter.scss */
      .controls ul li a {
        display: block;
        height: 100%; }

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
/* line 14, painter.scss */
.red {
  background: #f42a35; }

/* line 14, painter.scss */
.orange {
  background: #ffa200; }

/* line 14, painter.scss */
.yellow {
  background: #ffd500; }

/* line 14, painter.scss */
.light-green {
  background: #a8bf12; }

/* line 14, painter.scss */
.green {
  background: #2eb52f; }

/* line 14, painter.scss */
.light-blue {
  background: #00aab5; }

/* line 14, painter.scss */
.blue {
  background: #325bc5; }

/* line 14, painter.scss */
.purple {
  background: #992fe0; }

/* line 14, painter.scss */
.brown {
  background: #875e37; }

/* line 113, painter.scss */
.black {
  background: #000; }

/* line 117, painter.scss */
#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 5px 0 10px 0;
  width: 100%;
  position: relative; }
  /* line 125, painter.scss */
  #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px; }

/* line 141, painter.scss */
#newColor {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 2px 0 0 #222;
  background: #369;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  box-shadow: 0 3px 0 0 #222;
  float: left;
  border: none;
  margin: 20px; }

/* line 154, painter.scss */
.sliders p {
  margin: 8px 0;
  vertical-align: middle; }
/* line 158, painter.scss */
.sliders label {
  display: inline-block;
  margin: 0 10px 0 10px;
  width: 55px;
  font-size: 14px; }
/* line 164, painter.scss */
.sliders input {
  position: relative;
  top: 2px; }

/* line 170, painter.scss */
#addNewColor {
  background: #946D9B;
  box-shadow: 0 4px 0 0 #5B575C;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #5B575C;
  display: block;
  font-size: 16px;
  line-height: 40px;
  border: none;
  border-top: 1px solid #5B575C;
  border-radius: 0 0 5px 5px;
  clear: both;
  margin: 12px 0px -7px;
  padding: 5px 10px;
  width: 100%; }
