/***** MEDIA QUERIES ************/
/***** COLORS ********************/
/* line 68, painter.scss */
* {
  box-sizing: border-box; }

/* line 3, painter.scss */
html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 74, painter.scss */
body {
  margin: 0;
  background: #777;
  font-family: Helvetica,Arial,sans-serif; }

/* line 79, painter.scss */
.container {
  max-width: 1080px; }

/************ HEADER *******************************/
/* line 84, painter.scss */
header {
  z-index: 1;
  position: relative;
  height: 140px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 3px 2px 0px #111; }
  /* line 91, painter.scss */
  header .recentDrawing {
    max-height: 100%;
    float: right; }
  /* line 95, painter.scss */
  header #logo {
    max-height: 100%;
    padding: 4px; }
  @media only screen and (max-width: 481px) {
    /* line 84, painter.scss */
    header {
      height: 90px; } }

/************ NAVIGATION ***************************/
/* line 106, painter.scss */
nav {
  margin: 0px 20px;
  z-index: 0;
  width: 120px;
  box-shadow: 0px 2px 2px 0px #111;
  position: absolute;
  text-align: center; }
  /* line 113, painter.scss */
  nav a {
    background: #EEDF8E;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #666; }
    /* line 124, painter.scss */
    nav a:hover {
      background: #EBE2B5; }
  /* line 128, painter.scss */
  nav div {
    background: white;
    border-top: 1px solid;
    padding: 5px; }
  @media only screen and (max-width: 481px) {
    /* line 106, painter.scss */
    nav {
      display: none; } }
  @media only screen and (max-width: 1110px) {
    /* line 106, painter.scss */
    nav {
      position: relative; } }

/************ DONATION BAR *************************/
/* line 142, painter.scss */
#donationDropdown {
  display: none;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  background-color: #4E8FD5;
  box-shadow: 0px 2px 2px 0px #111; }
  /* line 150, painter.scss */
  #donationDropdown p {
    color: #fff;
    text-shadow: 0 1px #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 5px 0; }
    /* line 156, painter.scss */
    #donationDropdown p:nth-child(2) {
      font-size: .8em;
      width: 75%;
      margin: 5px auto; }
  @media only screen and (max-width: 1110px) {
    /* line 142, painter.scss */
    #donationDropdown {
      width: 50%; } }
  @media only screen and (max-width: 381px) {
    /* line 142, painter.scss */
    #donationDropdown {
      position: absolute;
      top: -9999px; } }
  /* line 170, painter.scss */
  #donationDropdown #donationButtons form {
    display: inline; }
  /* line 173, painter.scss */
  #donationDropdown #donationButtons a {
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
    margin: 5px; }

/************ HERO TEXT ****************************/
/* line 183, painter.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 1px #333;
  margin: 10px 0 0; }

/************ LEFT COLUMN **************************/
/* line 193, painter.scss */
#imageContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #bbb;
  display: block;
  margin: 10px auto 0px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #222;
  text-align: center;
  font: 0/0 a; }
  /* line 204, painter.scss */
  #imageContainer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%; }
  /* line 210, painter.scss */
  #imageContainer img {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; }
  @media only screen and (max-width: 381px) {
    /* line 193, painter.scss */
    #imageContainer {
      display: none; } }

/* line 222, painter.scss */
#pokemonName {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 36px;
  margin: 10px 0;
  text-shadow: 0 2px #333; }

/************ CENTER COLUMN **************************/
/* line 231, painter.scss */
.center-column {
  padding-top: 30px;
  text-align: center; }
  @media only screen and (max-width: 381px) {
    /* line 231, painter.scss */
    .center-column {
      padding-top: 0; } }

/* line 238, painter.scss */
#timer {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  display: none; }
  @media only screen and (max-width: 381px) {
    /* line 238, painter.scss */
    #timer {
      display: hidden; } }

/* line 247, painter.scss */
#newRound {
  position: relative;
  background: #78bc3f;
  box-shadow: 0 4px 0 0 #306901;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  font-size: 36px;
  line-height: 36px;
  margin: 10px auto;
  padding: 8px 20px; }
  /* line 49, painter.scss */
  #newRound:enabled:active {
    top: 4px;
    box-shadow: none; }
  /* line 53, painter.scss */
  #newRound:disabled {
    opacity: 0.7; }
  @media only screen and (max-width: 900px) {
    /* line 247, painter.scss */
    #newRound {
      font-size: 24px;
      line-height: 24px;
      padding: 8px 10px; } }

/* line 260, painter.scss */
#share, #save {
  position: relative;
  background: #478e95;
  box-shadow: 0 4px 0 0 #095057;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #095057;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 20px;
  display: none; }
  /* line 49, painter.scss */
  #share:enabled:active, #save:enabled:active {
    top: 4px;
    box-shadow: none; }
  /* line 53, painter.scss */
  #share:disabled, #save:disabled {
    opacity: 0.7; }

/* line 269, painter.scss */
#save {
  text-decoration: none;
  margin: 0 auto; }
  /* line 272, painter.scss */
  #save:active {
    top: 2px;
    box-shadow: none; }

/************ RIGHT COLUMN **************************/
/* line 279, painter.scss */
#canvas-container {
  position: relative; }
  /* line 281, painter.scss */
  #canvas-container #canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: #bbb;
    display: block;
    margin: 10px auto 0px;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #222;
    pointer-events: none;
    cursor: url(../img/cursor.png), crosshair; }
  /* line 294, painter.scss */
  #canvas-container #pip {
    display: none;
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    top: 5px;
    left: 5px;
    border-radius: 5px; }
    @media only screen and (max-width: 381px) {
      /* line 294, painter.scss */
      #canvas-container #pip {
        display: block; } }
    /* line 305, painter.scss */
    #canvas-container #pip img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px; }
  /* line 311, painter.scss */
  #canvas-container #pip-timer {
    display: none;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px; }
    @media only screen and (max-width: 381px) {
      /* line 311, painter.scss */
      #canvas-container #pip-timer {
        display: block; } }

/* line 323, painter.scss */
.controls {
  margin: 0 auto;
  border-radius: 5px; }
  /* line 326, painter.scss */
  .controls ul {
    list-style: none;
    float: left;
    padding: 0;
    width: 100%;
    text-align: center; }
    /* line 332, painter.scss */
    .controls ul li {
      display: inline-block;
      margin: 0 5px 5px;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 2px 0 0 #222; }
      /* line 25, painter.scss */
      .controls ul li.selected {
        border: 2px solid #ccc;
        top: 2px;
        box-shadow: none; }
      @media only screen and (max-width: 381px) {
        /* line 332, painter.scss */
        .controls ul li {
          width: 46px;
          height: 46px; } }
      /* line 338, painter.scss */
      .controls ul li a {
        display: block;
        height: 100%; }

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
/* line 14, painter.scss */
.red {
  background: #f42a35; }

/* line 14, painter.scss */
.orange {
  background: #ffa200; }

/* line 14, painter.scss */
.yellow {
  background: #ffd500; }

/* line 14, painter.scss */
.light-green {
  background: #a8bf12; }

/* line 14, painter.scss */
.green {
  background: #2eb52f; }

/* line 14, painter.scss */
.light-blue {
  background: #00aab5; }

/* line 14, painter.scss */
.blue {
  background: #325bc5; }

/* line 14, painter.scss */
.pink {
  background: #fad0de; }

/* line 14, painter.scss */
.purple {
  background: #946d9b; }

/* line 14, painter.scss */
.brown {
  background: #875e37; }

/* line 14, painter.scss */
.gray {
  background: #8e969b; }

/* line 350, painter.scss */
.black {
  background: #000; }

/* line 354, painter.scss */
#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 8px 0 10px 0;
  max-width: 100%;
  width: 300px;
  position: relative; }
  /* line 363, painter.scss */
  #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px; }

/* line 378, painter.scss */
#addNewColor {
  position: relative;
  background: #946d9b;
  box-shadow: 0 4px 0 0 #5b575c;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #5b575c;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  font-size: 20px; }
  /* line 49, painter.scss */
  #addNewColor:enabled:active {
    top: 4px;
    box-shadow: none; }
  /* line 53, painter.scss */
  #addNewColor:disabled {
    opacity: 0.7; }

/* line 387, painter.scss */
.sliders {
  padding-top: 4px; }
  /* line 389, painter.scss */
  .sliders p {
    margin: 8px 0;
    vertical-align: middle; }
  /* line 393, painter.scss */
  .sliders label {
    text-align: right;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 20%;
    font-size: 16px; }
  /* line 401, painter.scss */
  .sliders input {
    position: relative;
    width: 60%;
    top: 4px; }

/********** FOOTER **********************/
/* line 412, painter.scss */
footer {
  margin-top: 40px;
  background: #444;
  color: #eee;
  padding: 20px 0; }
  /* line 417, painter.scss */
  footer .footerLink {
    float: left;
    width: 100%; }
  /* line 421, painter.scss */
  footer #byline {
    float: right;
    width: 100%;
    text-align: right; }
  /* line 426, painter.scss */
  footer .fb-like-box {
    float: right; }
  /* line 429, painter.scss */
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #BD9E70; }
    /* line 433, painter.scss */
    footer a:hover {
      color: #E4C08A; }
