
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin box-round {
	border-radius: 5px;
}

@mixin color-class($color-name, $color) {
	.#{$color-name} {
		background: $color;
	}
}
@mixin shared-color-properties {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 2px 0 0 #222;
	&.selected {
		border: 2px solid #ccc;
		top: 2px;
		box-shadow: none;
	}
	@media #{$mq-phone} {
		width:46px;
		height: 46px;
	}
}
@mixin button($color, $side-color) {
	position:relative;
	background: $color;
	box-shadow: 0 4px 0 0 $side-color;
	color: #fff;
	outline: none;
	text-shadow: 0 1px $side-color;
	display: block;
	font-size: 16px;
	border:none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	@include box-round;
	clear:both;
	&:enabled:active {
		top: 4px;
		box-shadow: none;
	}
	&:disabled {
		opacity: 0.7;
	}
}

/***** MEDIA QUERIES ************/
$mq-phone: "only screen and (max-width : 381px)";
$mq-phone-landscape: "only screen and (max-width : 481px)";
$mq-tablet: "only screen and (max-width : 900px)";
$mq-1110: "only screen and (max-width : 1110px)";
/***** COLORS ********************/
$rainbow-color-names: red, orange, yellow, light-green, green, light-blue, blue, pink, purple, brown, gray;
$rainbow-colors: #F42A35, #FFA200, #FFD500, #A8BF12, #2EB52F, #00AAB5, #325BC5, #FAD0DE,#946D9B, #875E37, #8E969B;


* {
	box-sizing: border-box;
}
html, body, .row, .columns, .container {
	@include clearfix;
}
body {
	margin:0;
	background: #777;
	font-family: Helvetica,Arial,sans-serif;
}
.container {
	max-width: 1080px;
}
/************ HEADER *******************************/

header {
	z-index: 1;
	position: relative;
	height: 140px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 3px 2px 0px #111;
	.recentDrawing {
		max-height: 100%;
		float: right;
	}
	#logo {
		max-height: 100%;
		padding: 4px;
	}
	@media #{$mq-phone-landscape} {
		height: 90px;
	}
}

/************ NAVIGATION ***************************/

nav {
	margin: 0px 20px;
	z-index: 0;
	width: 120px;
	box-shadow: 0px 2px 2px 0px #111;
	position: absolute;
	text-align: center;
	a {
		background: #EEDF8E;
		display: block;
		text-decoration: none;
		color: black;
		font-size: 16px;
		width: 100%;
		padding: 10px;
		position: relative;
		font-family: 'Open Sans', sans-serif;
		border-top: 1px solid #666;
		&:hover {
			background: #EBE2B5;
		}
	}
	div {
		background: white;
		border-top: 1px solid;
		padding: 5px;
	}
	@media #{$mq-phone-landscape} {
		display: none;
	}
	@media #{$mq-1110} {
		position: relative;
	}
}
/************ DONATION BAR *************************/

#donationDropdown {
	display:none;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	width: 70%;
	background-color:#4E8FD5;
	box-shadow: 0px 2px 2px 0px #111;
	p {
		color: #fff;
		text-shadow: 0 1px #666;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		margin: 5px 0;
		&:nth-child(2) {
			font-size: .8em;
			width:75%;
			margin: 5px auto;
		}
	}
	@media #{$mq-1110} {
		width: 50%;
	}
	@media #{$mq-phone} {
		position: absolute;
		top: -9999px;
	}
	#donationButtons {
		form {
			display: inline;
		}
		a {
			font-family: 'Open Sans', sans-serif;
			color: #ddd;
			margin: 5px;
		}
	}
}

/************ HERO TEXT ****************************/

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	text-shadow: 0 1px #333;
	margin: 10px 0 0;
}

/************ LEFT COLUMN **************************/

#imageContainer {
	max-width: 100%;
	width:100%;
	height: auto;
	background: #bbb;
	display:block;
	margin: 10px auto 0px;
	@include box-round;
	box-shadow: 0 2px 0 0 #222;
	text-align: center;
	font: 0/0 a;
	&:before {
		content: ' ';
	    display: inline-block;
	    vertical-align: middle;  /* vertical alignment of the inline element */
	    height: 100%;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		font: 16px/1 Arial sans-serif;
		max-width: 100%;
		max-height: 100%;
		@include box-round;
	}
	@media #{$mq-phone} {
		display: none;
	}
}
#pokemonName {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	font-size: 36px;
	margin: 10px 0;
	text-shadow: 0 2px #333;
}
/************ CENTER COLUMN **************************/
.center-column {
	padding-top: 30px;
	text-align:center;
	@media #{$mq-phone} {
		padding-top: 0;
	}
}
#timer {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	display: none;
	@media #{$mq-phone} {
		display: hidden;
	}
}
#newRound {
	@include button(#78BC3F,#306901);
	@include box-round;
	font-size: 36px;
	line-height: 36px;
	margin: 10px auto;
	padding: 8px 20px;
	@media #{$mq-tablet} {
		font-size: 24px;
		line-height: 24px;
		padding: 8px 10px; 
	}
}
#share, #save {
	@include button(#478E95, #095057);
	@include box-round;
	margin: 10px auto;
	font-size: 24px;
	line-height: 24px;
	padding: 10px 20px;
	display: none;
}
#save {
	text-decoration: none;
	margin: 0 auto;
	&:active {
		top: 2px;
		box-shadow: none;
	}
}

/************ RIGHT COLUMN **************************/
#canvas-container {
	position: relative;
	#canvas {
		max-width: 100%;
		width:100%;
		height: auto;
		background: #bbb;
		display:block;
		margin: 10px auto 0px;
		@include box-round;
		box-shadow: 0 2px 0 0 #222;
		pointer-events: none;
		cursor: url(../img/cursor.png), crosshair;
		
	}
	#pip {
		display: none;
		position: absolute;
		max-height: 25%;
		max-width: 25%;
		top: 5px;
		left: 5px;
		@include box-round;
		@media #{$mq-phone} {
			display: block;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			@include box-round;
		}
	}
	#pip-timer {
		display: none;
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 36px;
		@media #{$mq-phone} {
			display: block;
		}
	}
}

.controls {
	margin: 0 auto;
	@include box-round;
	ul {
		list-style: none;
		float:left;
		padding: 0;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 5px 5px;
			position: relative;
			@include shared-color-properties;
			
			a {
				display: block;
				height: 100%;
			}
		}
	}
}

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
@for $i from 1 through length($rainbow-colors) {
	@include color-class(nth($rainbow-color-names, $i), nth($rainbow-colors, $i));
}
.black {
	background:#000;
}

#colorSelect {
	background: #fff;
	@include box-round;
	clear:both;
	margin: 20px auto 0;
	padding: 8px 0 10px 0;
	max-width: 100%;
	width: 300px;
	position: relative;
	&:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 12px;
		margin-left: -10px;
	}
}
#addNewColor {
	@include button(#946D9B, #5B575C);
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px;
	width: 90%;
	font-size: 20px;
}

.sliders {
	padding-top: 4px;
	p {
		margin: 8px 0;
		vertical-align: middle;
	}
	label {
		text-align: right;
		font-family: "Open Sans",sans-serif;font-size: 16px;
		display: inline-block;
		margin: 0 10px 0 10px;
		width: 20%;
		font-size: 16px;
	}
	input {
		position: relative;
		width: 60%;
		top: 4px;
	}
}



/********** FOOTER **********************/

footer {
	margin-top: 40px;
	background: #444;
	color: #eee;
	padding: 20px 0;
	.footerLink {
		float: left;
		width: 100%;
	}
	#byline {
		float: right;
		width: 100%;
		text-align: right;
	}
	.fb-like-box {
		float: right;
	}
	a {
		text-decoration: none;
		font-weight: bold;
		color: #BD9E70;
		&:hover{
			color: #E4C08A;
		}
	}
}
