@mixin button($color, $side-color) {
	position:relative;
	background: $color;
	box-shadow: 0 4px 0 0 $side-color;
	color: #fff;
	outline: none;
	text-shadow: 0 1px $side-color;
	display: block;
	font-size: 16px;
	border:none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	clear:both;
	&:enabled:active {
		top: 4px;
		box-shadow: none;
	}
	&:disabled {
		opacity: 0.7;
	}
}

header {
	height: 80px;
}

.row {
	p {
		font-family: "Open Sans" ,sans-serif;
		color: #fff;
		text-align: center;
		font-size: 1.25em;
		margin: 5px;
	}
	a {
		color: #303030;
		&:hover {
			color: #222222;
		}
	}


}
.drawing {
	float: left;
	position: relative;
	width: 23%;
	margin: 1%;
	background-color: #fff;
	background-image: url("none");
	// Background image loaded dynamically via ajax call
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 #222;

	@media only screen and (max-width : 650px) {
	  /* Tablet & phone view: 2 tiles */
	    width: 48%;
			margin: 1%;
  }
	@media only screen and (max-width : 1050px) and (min-width : 651px) {
	  /* Small desktop / ipad view: 3 tiles */
    width: 30%;
		margin: 1.66%;
  }
	h1 {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #FAFAFA;
		text-align: center;
		font-family: "Open sans", Arial, Helvetica, sans-serif;
		font-weight: 400;
		background-color: #666;
		margin: 0;
		padding: 0;
		border-radius: 0 0 3px 3px;
	}
	a {
		display: none;
		font-size: 2em;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 10px;
		color: #FAFAFA;
		background-color: #666;
		border-radius: 3px 0 3px 0;
		&:hover {
			color: #ccc;
		}
	}
	&:hover a {
		display: inline-block;
	}
	&:hover h1 {
		display: inline-block;
	}
	&:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
	}
}


.loader {
	margin: 0 auto;
	@include button(#78BC3F,#306901);
	padding: 20px;
	font-size:24px;
}
