
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin box-round {
	border-radius: 5px;
}

@mixin color-class($color-name, $color) {
	.#{$color-name} {
		background: $color;
	}
}
@mixin shared-color-properties {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 2px 0 0 #222;
	&.selected {
		border: 2px solid #ccc;
		top: 2px;
		box-shadow: none;
	}
	@media #{$mq-phone-landscape} {
    margin: 0 1% 5px;
		width: 20%;
		height: 30px;
	}
	@media #{$mq-phone} {
		width:46px;
		height: 46px;
	}
}
@mixin button($color, $side-color) {
	position:relative;
	background: $color;
	box-shadow: 0 4px 0 0 $side-color;
	color: #fff;
	outline: none;
	text-shadow: 0 1px $side-color;
	display: block;
	font-size: 16px;
	border:none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	@include box-round;
	clear:both;
	&:enabled:active {
		top: 4px;
		box-shadow: none;
	}
	&:disabled {
		opacity: 0.7;
	}
}

/***** MEDIA QUERIES ************/
$mq-phone: "only screen and (max-width : 480px)";
$mq-phone-landscape: "only screen and (max-width : 568px)";
$mq-tablet: "only screen and (max-width : 900px)";
$mq-1400: "only screen and (max-width : 1400px)";
/***** COLORS ********************/
$rainbow-color-names: "red", "orange", "yellow", "light-green", "green", "light-blue", "blue", "pink", "purple", "brown", "gray";
$rainbow-colors: #F42A35, #FFA200, #FFD500, #A8BF12, #2EB52F, #00AAB5, #325BC5, #FAD0DE,#946D9B, #875E37, #8E969B;


* {
	box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body, .row, .columns, .container {
	@include clearfix;
}
body {
	margin:0;
	background: #777;
	font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.container {
	max-width: 1080px;
  padding-top: 10px;
}
/*********** UPDATE MODAL **********************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#update-modal {
  width: 404px;
  padding: 10px 20px;
  display: none;
  background: #FFF;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
  ul {
    margin: 30px;
    padding: 0;
    text-align: left;
    font-size: 1.5em;
    li {
      padding: 3px 0;
    }
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 2em;
  padding: 8px;
  z-index: 2;
  color: #111;
  &:hover {
    color: #666;
  }
}

/************ HEADER *******************************/

header {
	z-index: 1;
	position: relative;
	height: 140px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 2px 2px 0px #111;
	padding-right: 18px;
	.recentDrawing {
		max-height: 100%;
		float: right;
	}
	#logo {
		max-height: 100%;
		padding: 4px;
	}
	@media #{$mq-phone-landscape} {
		height: 85px;
	}
}
.header-control {
	position: absolute;
	right: 5px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
}
.hide-drawings {
	top: 5px;
}
.refresh-drawings {
	bottom: 5px;
	font-size: 12px;
}
/************ NAVIGATION ***************************/

nav {
	margin: 0px 10px -30px;
	z-index: 0;
  @include clearfix;
	a {
		background: #EEDF8E;
		text-decoration: none;
		color: black;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
    float: left;
    box-shadow: 0px 2px 0px 0px #111;
    border-radius: 0 0 4px 4px;
    margin: 0 3px;
    font-size: 1em;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
		&:hover {
			background: #EBE2B5;
      margin-top:2px;
      margin-bottom: -2px;
		}
	}
  .nav-link-right {
    float:right;
  }
	@media #{$mq-phone-landscape} {
		display: none;
	}
  @media #{$mq-1400} {
		position: relative;
    margin: 0 10px 0;
	}
}

/************ HERO TEXT ****************************/

h1.title {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	text-shadow: 0 1px #333;
	margin: 0 0 10px;
  font-size: 3em;

  @media #{$mq-tablet} {
    font-size: 2em;
  }
  @media #{$mq-phone-landscape} {
    font-size: 1.2em;
  }
  @media #{$mq-phone} {
    font-size: 1.5em;
  }
}

/************ LEFT COLUMN **************************/

#imageContainer {
	max-width: 100%;
	width:100%;
	height: auto;
	background: #bbb;
	display:block;
	margin: 0 auto;
	@include box-round;
	box-shadow: 0 2px 0 0 #222;
	text-align: center;
	font: 0/0 a;
	&:before {
		content: ' ';
	    display: inline-block;
	    vertical-align: middle;  /* vertical alignment of the inline element */
	    height: 100%;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		font: 16px/1 Arial sans-serif;
		width: 100%;
		max-height: 100%;
		@include box-round;
	}
	@media #{$mq-phone} {
		display: none;
	}
}
#pokemonName {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 5px 0;
	text-shadow: 0 2px #333;

  @media #{$mq-phone-landscape} {
    font-size: 2em;
  }
  @media #{$mq-phone} {
    font-size: 3em;
  }
}
/************ CENTER COLUMN **************************/
.center-column {
	text-align:center;
}
#timer {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	display: none;
  @media #{$mq-phone-landscape} {
    font-size: 3em;
  }
  @media #{$mq-phone} {
		display: hidden;
	}
}
#newRound {
	@include button(#78BC3F,#306901);
	@include box-round;
	font-size: 1.5em;
	margin: 10px auto;
	padding: 8px 6px;
  margin-top: 30px;
	@media #{$mq-tablet} {
		font-size: 1.2em;
		padding: 10px 6px;
    width: 100%;
    margin-top: 10px;
	}
  @media #{$mq-phone} {
    font-size: 2em;
    width: auto;
    padding: 8px 20px;
    margin: 0 auto 10px;
  }

  &.intro {
    font-size: 3em;
  	padding: 8px 20px;

  	@media #{$mq-tablet} {
  		font-size: 2em;
  		padding: 10px 12px;
  	}
    @media #{$mq-phone-landscape} {
      font-size: 1.5em;
  		line-height: 1.5em;
  		padding: 10px 6px;
    }
    @media #{$mq-phone} {
      font-size: 2em;
      width: auto;
      padding: 8px 20px;
    }
  }
}
.share, #save, {
	@include button(#478E95, #095057);
	@include box-round;
	margin: 10px auto;
	font-size: 2em;
	padding: 8px 0;
  width: 47%;
	display: none;
	text-decoration: none;

	&:active {
		top: 2px;
		box-shadow: none;
	}
  @media #{$mq-phone} {
    margin: 0 auto 10px;
  }
}
.share {
  @media #{$mq-phone} {
    max-width: 20%;
  }
}
#save {
  width: 100%;
  max-width: 200px;
  @media #{$mq-tablet} {
    font-size: 1.5em;
  }
  @media #{$mq-phone} {
    font-size: 2em;
    max-width: 40%;
  }
}
#save [class^="icon-"] {
	font-size: 1em;
	margin-right: 5px;
}

/************ RIGHT COLUMN **************************/
#canvas-container {
	position: relative;
	#canvas {
		max-width: 100%;
		width:100%;
		height: auto;
		background: #bbb;
		display:block;
		margin: 0 auto;
		@include box-round;
		box-shadow: 0 2px 0 0 #222;
		pointer-events: none;
		cursor: url(../img/cursor.png), crosshair;

	}
	#pip {
		display: none;
		position: absolute;
		max-height: 25%;
		max-width: 25%;
		top: 5px;
		left: 5px;
		@include box-round;
		@media #{$mq-phone} {
			display: block;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			@include box-round;
		}
	}
	#pip-timer {
		display: none;
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 36px;
		@media #{$mq-phone} {
			display: block;
		}
	}
}

.controls {
	margin: 0 auto;
	@include box-round;
	ul {
		list-style: none;
		padding: 0;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 5px 5px;
			position: relative;
			@include shared-color-properties;

			a {
				display: block;
				height: 100%;
			}
		}
	}
}

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
@for $i from 1 through length($rainbow-colors) {
	@include color-class(nth($rainbow-color-names, $i), nth($rainbow-colors, $i));
}
.black {
	background:#000;
}

#colorSelect {
	background: #fff;
	@include box-round;
	clear:both;
	margin: 20px auto 0;
	padding: 8px 0 10px 0;
	max-width: 100%;
	width: 300px;
	position: relative;
	&:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 12px;
		margin-left: -10px;
	}
}
#addNewColor {
	@include button(#946D9B, #5B575C);
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px;
	width: 90%;
	font-size: 20px;
}

.sliders {
	padding-top: 4px;
	p {
		margin: 8px 0;
		vertical-align: middle;
	}
	label {
		text-align: right;
		font-family: "Open Sans",sans-serif;font-size: 16px;
		display: inline-block;
		margin: 0 10px 0 10px;
		width: 20%;
		font-size: 16px;
	}
	input {
		position: relative;
		width: 60%;
		top: 4px;
	}
}



/********** FOOTER **********************/

footer {
	margin-top: 40px;
	background: #444;
	color: #eee;
	padding: 20px 0;
	.footerLink {
		float: left;
		width: 100%;
	}
	#byline {
		float: right;
		width: 100%;
		text-align: right;
	}
	.fb-like-box {
		float: right;
	}
	a {
		text-decoration: none;
		font-weight: bold;
		color: #BD9E70;
		&:hover{
			color: #E4C08A;
		}
	}
}
