/***** MEDIA QUERIES ************/
/***** COLORS ********************/
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

header {
  height: 80px; }

.container {
  max-width: 1300px; }

.row p {
  font-family: "Open Sans" ,sans-serif;
  color: #333;
  text-align: center;
  font-size: 1.25em;
  margin: 5px; }
.row a {
  color: #303030; }
  .row a:hover {
    color: #222222; }

.options {
  text-align: center; }
  .options p {
    display: inline-block;
    font-size: 2em; }
    @media only screen and (max-width: 480px) {
      .options p {
        font-size: 1.5em; } }
    .options p span {
      color: #FF7575; }
  .options select {
    font-size: 2em; }
    @media only screen and (max-width: 568px) {
      .options select {
        font-size: 1em; } }

.drawing {
  float: left;
  position: relative;
  width: 24%;
  margin: .5%;
  background-color: #fff;
  background-image: url("none");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 #222, 0px 2px 3px -1px #4F4F4F; }
  @media only screen and (max-width: 650px) {
    .drawing {
      /* Tablet & phone view: 2 tiles */
      width: 48%;
      margin: 1%; } }
  @media only screen and (max-width: 1050px) and (min-width: 651px) {
    .drawing {
      /* Small desktop / ipad view: 3 tiles */
      width: 31.33%;
      margin: 1%; } }
  .drawing h1 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FAFAFA;
    text-align: center;
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #666;
    margin: 0;
    padding: 0;
    border-radius: 0 0 3px 3px; }
  .drawing a {
    display: none;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    color: #FAFAFA;
    background-color: #666;
    border-radius: 3px 0 3px 0; }
    .drawing a:hover {
      color: #ccc; }
  .drawing:hover a {
    display: inline-block; }
  .drawing:hover h1 {
    display: inline-block; }
  .drawing:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/ }

.loader {
  margin: 0 auto;
  position: relative;
  background: #78BC3F;
  box-shadow: 0 3px 0 0 #306901, 0px 3px 5px -1px #4F4F4F;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  padding: 20px;
  font-size: 24px; }
  .loader:enabled:active {
    top: 3px;
    box-shadow: none; }
  .loader:disabled {
    opacity: 0.7; }
