/***** MEDIA QUERIES ************/
/***** COLORS ********************/
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

body {
  margin: 0;
  background: #777;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px; }

.container {
  max-width: 1080px;
  padding-top: 10px; }

/*********** UPDATE MODAL **********************/
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

#update-modal {
  width: 404px;
  padding: 10px 20px;
  display: none;
  background: #FFF;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7); }
  #update-modal ul {
    margin: 30px;
    padding: 0;
    text-align: left;
    font-size: 1.5em; }
    #update-modal ul li {
      padding: 3px 0; }

.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 2em;
  padding: 8px;
  z-index: 2;
  color: #111; }
  .modal-close:hover {
    color: #666; }

/************ HEADER *******************************/
header {
  z-index: 1;
  position: relative;
  height: 140px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 2px 2px 0px #111;
  padding-right: 18px; }
  header .recentDrawing {
    max-height: 100%;
    float: right; }
  header #logo {
    max-height: 100%;
    padding: 4px; }
  @media only screen and (max-width: 568px) {
    header {
      height: 85px; } }

.header-control {
  position: absolute;
  right: 5px;
  text-decoration: none;
  color: #000;
  font-size: 20px; }

.hide-drawings {
  top: 5px; }

.refresh-drawings {
  bottom: 5px;
  font-size: 12px; }

/************ NAVIGATION ***************************/
nav {
  margin: 0px 10px -30px;
  z-index: 0; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav a {
    background: #EEDF8E;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    box-shadow: 0px 2px 0px 0px #111;
    border-radius: 0 0 4px 4px;
    margin: 0 3px;
    font-size: 1em;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out; }
    nav a:hover {
      background: #EBE2B5;
      margin-top: 2px;
      margin-bottom: -2px; }
  nav .nav-link-right {
    float: right; }
  @media only screen and (max-width: 568px) {
    nav {
      display: none; } }
  @media only screen and (max-width: 1400px) {
    nav {
      position: relative;
      margin: 0 10px 0; } }

/************ HERO TEXT ****************************/
h1.title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 1px #333;
  margin: 0 0 10px;
  font-size: 3em; }
  @media only screen and (max-width: 900px) {
    h1.title {
      font-size: 2em; } }
  @media only screen and (max-width: 568px) {
    h1.title {
      font-size: 1.2em; } }
  @media only screen and (max-width: 480px) {
    h1.title {
      font-size: 1.5em; } }

/************ LEFT COLUMN **************************/
#imageContainer {
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #bbb;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #222;
  text-align: center;
  font: 0/0 a; }
  #imageContainer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    height: 100%; }
  #imageContainer img {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
    width: 100%;
    max-height: 100%;
    border-radius: 5px; }
  @media only screen and (max-width: 480px) {
    #imageContainer {
      display: none; } }

#pokemonName {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 3em;
  margin: 5px 0;
  text-shadow: 0 2px #333; }
  @media only screen and (max-width: 568px) {
    #pokemonName {
      font-size: 2em; } }
  @media only screen and (max-width: 480px) {
    #pokemonName {
      font-size: 3em; } }

/************ CENTER COLUMN **************************/
.center-column {
  text-align: center; }

#timer {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  display: none; }
  @media only screen and (max-width: 568px) {
    #timer {
      font-size: 3em; } }
  @media only screen and (max-width: 480px) {
    #timer {
      display: hidden; } }

#newRound {
  position: relative;
  background: #78BC3F;
  box-shadow: 0 4px 0 0 #306901;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 10px auto;
  padding: 8px 6px;
  margin-top: 30px; }
  #newRound:enabled:active {
    top: 4px;
    box-shadow: none; }
  #newRound:disabled {
    opacity: 0.7; }
  @media only screen and (max-width: 900px) {
    #newRound {
      font-size: 1.2em;
      padding: 10px 6px;
      width: 100%;
      margin-top: 10px; } }
  @media only screen and (max-width: 480px) {
    #newRound {
      font-size: 2em;
      width: auto;
      padding: 8px 20px;
      margin: 0 auto 10px; } }
  #newRound.intro {
    font-size: 3em;
    padding: 8px 20px; }
    @media only screen and (max-width: 900px) {
      #newRound.intro {
        font-size: 2em;
        padding: 10px 12px; } }
    @media only screen and (max-width: 568px) {
      #newRound.intro {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 10px 6px; } }
    @media only screen and (max-width: 480px) {
      #newRound.intro {
        font-size: 2em;
        width: auto;
        padding: 8px 20px; } }

.share, #save {
  position: relative;
  background: #478E95;
  box-shadow: 0 4px 0 0 #095057;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #095057;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 2em;
  padding: 8px 0;
  width: 47%;
  display: none;
  text-decoration: none; }
  .share:enabled:active, #save:enabled:active {
    top: 4px;
    box-shadow: none; }
  .share:disabled, #save:disabled {
    opacity: 0.7; }
  .share:active, #save:active {
    top: 2px;
    box-shadow: none; }
  @media only screen and (max-width: 480px) {
    .share, #save {
      margin: 0 auto 10px; } }

@media only screen and (max-width: 480px) {
  .share {
    max-width: 20%; } }

#save {
  width: 100%;
  max-width: 200px; }
  @media only screen and (max-width: 900px) {
    #save {
      font-size: 1.5em; } }
  @media only screen and (max-width: 480px) {
    #save {
      font-size: 2em;
      max-width: 40%; } }

#save [class^="icon-"] {
  font-size: 1em;
  margin-right: 5px; }

/************ RIGHT COLUMN **************************/
#canvas-container {
  position: relative; }
  #canvas-container #canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: #bbb;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #222;
    pointer-events: none;
    cursor: url(../img/cursor.png), crosshair; }
  #canvas-container #pip {
    display: none;
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    top: 5px;
    left: 5px;
    border-radius: 5px; }
    @media only screen and (max-width: 480px) {
      #canvas-container #pip {
        display: block; } }
    #canvas-container #pip img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px; }
  #canvas-container #pip-timer {
    display: none;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px; }
    @media only screen and (max-width: 480px) {
      #canvas-container #pip-timer {
        display: block; } }

.controls {
  margin: 0 auto;
  border-radius: 5px; }
  .controls ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center; }
    .controls ul li {
      display: inline-block;
      margin: 0 5px 5px;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 2px 0 0 #222; }
      .controls ul li.selected {
        border: 2px solid #ccc;
        top: 2px;
        box-shadow: none; }
      @media only screen and (max-width: 568px) {
        .controls ul li {
          margin: 0 1% 5px;
          width: 20%;
          height: 30px; } }
      @media only screen and (max-width: 480px) {
        .controls ul li {
          width: 46px;
          height: 46px; } }
      .controls ul li a {
        display: block;
        height: 100%; }

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
.red {
  background: #F42A35; }

.orange {
  background: #FFA200; }

.yellow {
  background: #FFD500; }

.light-green {
  background: #A8BF12; }

.green {
  background: #2EB52F; }

.light-blue {
  background: #00AAB5; }

.blue {
  background: #325BC5; }

.pink {
  background: #FAD0DE; }

.purple {
  background: #946D9B; }

.brown {
  background: #875E37; }

.gray {
  background: #8E969B; }

.black {
  background: #000; }

#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 8px 0 10px 0;
  max-width: 100%;
  width: 300px;
  position: relative; }
  #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px; }

#addNewColor {
  position: relative;
  background: #946D9B;
  box-shadow: 0 4px 0 0 #5B575C;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #5B575C;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  font-size: 20px; }
  #addNewColor:enabled:active {
    top: 4px;
    box-shadow: none; }
  #addNewColor:disabled {
    opacity: 0.7; }

.sliders {
  padding-top: 4px; }
  .sliders p {
    margin: 8px 0;
    vertical-align: middle; }
  .sliders label {
    text-align: right;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 20%;
    font-size: 16px; }
  .sliders input {
    position: relative;
    width: 60%;
    top: 4px; }

/********** FOOTER **********************/
footer {
  margin-top: 40px;
  background: #444;
  color: #eee;
  padding: 20px 0; }
  footer .footerLink {
    float: left;
    width: 100%; }
  footer #byline {
    float: right;
    width: 100%;
    text-align: right; }
  footer .fb-like-box {
    float: right; }
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #BD9E70; }
    footer a:hover {
      color: #E4C08A; }

header {
  height: 80px; }

.container {
  max-width: 1300px; }

.row p {
  font-family: "Open Sans" ,sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.25em;
  margin: 5px; }
.row a {
  color: #303030; }
  .row a:hover {
    color: #222222; }

.options {
  text-align: center; }
  .options p {
    display: inline-block;
    font-size: 2em; }
    @media only screen and (max-width: 480px) {
      .options p {
        font-size: 1.5em; } }
    .options p span {
      color: #FF7575; }
  .options select {
    font-size: 2em; }
    @media only screen and (max-width: 568px) {
      .options select {
        font-size: 1em; } }

.drawing {
  float: left;
  position: relative;
  width: 24%;
  margin: .5%;
  background-color: #fff;
  background-image: url("none");
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #222; }
  @media only screen and (max-width: 650px) {
    .drawing {
      /* Tablet & phone view: 2 tiles */
      width: 48%;
      margin: 1%; } }
  @media only screen and (max-width: 1050px) and (min-width: 651px) {
    .drawing {
      /* Small desktop / ipad view: 3 tiles */
      width: 31.33%;
      margin: 1%; } }
  .drawing h1 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FAFAFA;
    text-align: center;
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #666;
    margin: 0;
    padding: 0;
    border-radius: 0 0 3px 3px; }
  .drawing a {
    display: none;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    color: #FAFAFA;
    background-color: #666;
    border-radius: 3px 0 3px 0; }
    .drawing a:hover {
      color: #ccc; }
  .drawing:hover a {
    display: inline-block; }
  .drawing:hover h1 {
    display: inline-block; }
  .drawing:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/ }

.loader {
  margin: 0 auto;
  position: relative;
  background: #78BC3F;
  box-shadow: 0 4px 0 0 #306901;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  padding: 20px;
  font-size: 24px; }
  .loader:enabled:active {
    top: 4px;
    box-shadow: none; }
  .loader:disabled {
    opacity: 0.7; }
