/***** MEDIA QUERIES ************/
/***** COLORS ********************/
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html:after, body:after, .row:after, .columns:after, .container:after {
  content: "";
  display: table;
  clear: both; }

body {
  margin: 0;
  background: #f7f7f7;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px; }

.container {
  max-width: 1000px;
  padding-top: 10px; }

/*********** UPDATE MODAL **********************/
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

#update-modal {
  width: 404px;
  padding: 10px 20px;
  display: none;
  background: #FFF;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7); }
  #update-modal ul {
    margin: 30px;
    padding: 0;
    text-align: left;
    font-size: 1.5em; }
    #update-modal ul li {
      padding: 3px 0; }

.modal-close {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 2em;
  padding: 8px;
  z-index: 2;
  color: #111; }
  .modal-close:hover {
    color: #666; }

/************ HEADER *******************************/
header.row {
  z-index: 1;
  position: relative;
  height: 140px;
  overflow: hidden;
  background: white;
  padding-right: 2em;
  padding-bottom: .5em; }
  header.row:after {
    position: absolute;
    display: inline-block;
    content: '';
    height: .5em;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(0deg, #F42A35 6.25%, #FFA200 6.25%, #FFA200 12.5%, #FFD500 12.5%, #FFD500 18.75%, #A8BF12 18.75%, #A8BF12 25%, #2EB52F 25%, #2EB52F 31.25%, #00AAB5 31.25%, #00AAB5 37.5%, #325BC5 37.5%, #325BC5 43.75%, #946D9B 43.75%, #946D9B 50%, #F42A35 50%, #F42A35 56.25%, #FFA200 56.25%, #FFA200 62.5%, #FFD500 62.5%, #FFD500 68.75%, #A8BF12 68.75%, #A8BF12 75%, #2EB52F 75%, #2EB52F 81.25%, #00AAB5 81.25%, #00AAB5 87.5%, #325BC5 87.5%, #325BC5 93.75%, #946D9B 93.75%);
    background: linear-gradient(90deg, #F42A35 6.25%, #FFA200 6.25%, #FFA200 12.5%, #FFD500 12.5%, #FFD500 18.75%, #A8BF12 18.75%, #A8BF12 25%, #2EB52F 25%, #2EB52F 31.25%, #00AAB5 31.25%, #00AAB5 37.5%, #325BC5 37.5%, #325BC5 43.75%, #946D9B 43.75%, #946D9B 50%, #F42A35 50%, #F42A35 56.25%, #FFA200 56.25%, #FFA200 62.5%, #FFD500 62.5%, #FFD500 68.75%, #A8BF12 68.75%, #A8BF12 75%, #2EB52F 75%, #2EB52F 81.25%, #00AAB5 81.25%, #00AAB5 87.5%, #325BC5 87.5%, #325BC5 93.75%, #946D9B 93.75%); }
  header.row .recentDrawing {
    max-height: 100%;
    float: right; }
  header.row #logo {
    max-height: 100%;
    padding: 4px; }
  @media only screen and (max-width: 568px) {
    header.row {
      height: 85px; } }
  header.row .header-control {
    position: absolute;
    right: 5px;
    text-decoration: none;
    color: #000;
    font-weight: 100; }
    header.row .header-control.hide-drawings {
      font-size: 2.5em; }
    header.row .header-control.refresh-drawings {
      bottom: 8px;
      font-size: 1.5em; }

/************ NAVIGATION ***************************/
nav {
  margin: 0px 10px -30px;
  z-index: 0; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav a {
    background: #EEDF8E;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    float: left;
    box-shadow: 0px 1px 4px -2px #4F4F4F;
    border-radius: 0 0 4px 4px;
    margin: -2px 3px 0;
    font-size: 1em;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out; }
    nav a:hover {
      background: #EFE29E;
      margin-top: 0px;
      margin-bottom: -2px; }
  nav .nav-link-right {
    float: right; }
  @media only screen and (max-width: 568px) {
    nav {
      display: none; } }
  @media only screen and (max-width: 1400px) {
    nav {
      position: relative;
      margin: 0 10px 0; } }

/************ HERO TEXT ****************************/
h1.title {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-align: center;
  margin: 0 0 10px;
  font-size: 3em; }
  @media only screen and (max-width: 900px) {
    h1.title {
      font-size: 2em; } }
  @media only screen and (max-width: 568px) {
    h1.title {
      font-size: 1.2em; } }
  @media only screen and (max-width: 480px) {
    h1.title {
      font-size: 1.5em; } }

/************ LEFT COLUMN **************************/
#imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 0 0 #222, 0px 2px 3px -1px #4F4F4F; }
  #imageContainer img {
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; }
    #imageContainer img.intro {
      width: 100%;
      padding: 0; }
  @media only screen and (max-width: 480px) {
    #imageContainer {
      display: none; } }

#pokemonName {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #333;
  font-size: 3em;
  margin: 5px 0; }
  @media only screen and (max-width: 568px) {
    #pokemonName {
      font-size: 2em; } }
  @media only screen and (max-width: 480px) {
    #pokemonName {
      font-size: 3em; } }

/************ CONTROLS **************************/
#newRound {
  position: relative;
  background: #76C038;
  box-shadow: 0 3px 0 0 #306901, 0px 3px 5px -1px #4F4F4F;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #306901;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  font-size: 2em;
  margin: 0px auto 10px;
  padding: 8px 6px;
  width: 80%; }
  #newRound:enabled:active {
    top: 3px;
    box-shadow: none; }
  #newRound:disabled {
    opacity: 0.7; }
  @media only screen and (max-width: 480px) {
    #newRound {
      font-size: 2em;
      padding: 8px 20px;
      margin: 0 auto 10px; } }
  #newRound.intro {
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 20%; }
    @media only screen and (max-width: 900px) {
      #newRound.intro {
        font-size: 2em;
        padding: 10px 12px; } }
    @media only screen and (max-width: 568px) {
      #newRound.intro {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 10px 6px; } }
    @media only screen and (max-width: 480px) {
      #newRound.intro {
        font-size: 2em;
        padding: 8px 20px; } }

.round-controls {
  text-align: center;
  display: none;
  width: 100%; }
  .round-controls #timer {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    display: none !important; }
    @media only screen and (max-width: 568px) {
      .round-controls #timer {
        font-size: 3em; } }
    @media only screen and (max-width: 480px) {
      .round-controls #timer {
        display: hidden; } }
  .round-controls .share, .round-controls #save {
    position: relative;
    background: #946D9B;
    box-shadow: 0 3px 0 0 #57405B, 0px 3px 5px -1px #4F4F4F;
    color: #fff;
    outline: none;
    text-shadow: 0 1px #57405B;
    display: block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    clear: both;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 2em;
    padding: 8px 0;
    text-decoration: none;
    display: inline-block; }
    .round-controls .share:enabled:active, .round-controls #save:enabled:active {
      top: 3px;
      box-shadow: none; }
    .round-controls .share:disabled, .round-controls #save:disabled {
      opacity: 0.7; }
    .round-controls .share.share-facebook, .round-controls #save.share-facebook {
      background: #3b5998;
      box-shadow: 0 3px 0 0 #082665, 0px 3px 5px -1px #4F4F4F;
      text-shadow: 0 1px #082665; }
    .round-controls .share.share-twitter, .round-controls #save.share-twitter {
      background: #00aced;
      box-shadow: 0 3px 0 0 #0079BA, 0px 3px 5px -1px #4F4F4F;
      text-shadow: 0 1px #0079BA; }
    .round-controls .share:active, .round-controls #save:active {
      top: 2px;
      box-shadow: none;
      -webkit-transition: top 0.4s ease-in-out;
      -moz-transition: 0.1s ease-in-out;
      -o-transition: 0.1s ease-in-out; }
    @media only screen and (max-width: 480px) {
      .round-controls .share, .round-controls #save {
        margin: 0 auto 10px; } }
  .round-controls .share {
    width: 18%; }
  .round-controls #save {
    width: 60%; }
  .round-controls #save [class^="icon-"] {
    font-size: 1em;
    margin-right: 5px; }

/************ RIGHT COLUMN **************************/
#canvas-container {
  position: relative; }
  #canvas-container #canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: #d3d3d3;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #222, 0px 2px 3px -1px #4F4F4F;
    pointer-events: none;
    cursor: url(../img/cursor.png), crosshair; }
  #canvas-container #pip {
    display: none;
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    top: 5px;
    left: 5px;
    border-radius: 5px; }
    @media only screen and (max-width: 480px) {
      #canvas-container #pip {
        display: block; } }
    #canvas-container #pip img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px; }
  #canvas-container #pip-timer {
    display: none;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px; }
    @media only screen and (max-width: 480px) {
      #canvas-container #pip-timer {
        display: block; } }

.controls {
  margin: 10px auto;
  border-radius: 5px; }
  .controls ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; }
    .controls ul li {
      display: inline-block;
      margin: 0 5px 5px;
      position: relative;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      cursor: pointer;
      border: 0;
      box-shadow: 0 2px 0 0 #222, 0px 3px 5px -1px #4F4F4F; }
      .controls ul li.selected {
        top: 2px;
        box-shadow: none; }
      @media only screen and (max-width: 568px) {
        .controls ul li {
          margin: 0 1% 5px;
          width: 20%;
          height: 30px; } }
      @media only screen and (max-width: 480px) {
        .controls ul li {
          width: 46px;
          height: 46px; } }
      .controls ul li a {
        display: block;
        height: 100%; }

/*for each item in $rainbow-color-names, create a class with a background set to the corresponding color in $rainbow-colors.*/
.red {
  background: #F42A35; }

.orange {
  background: #FFA200; }

.yellow {
  background: #FFD500; }

.light-green {
  background: #A8BF12; }

.green {
  background: #2EB52F; }

.light-blue {
  background: #00AAB5; }

.blue {
  background: #325BC5; }

.pink {
  background: #FAD0DE; }

.purple {
  background: #946D9B; }

.brown {
  background: #875E37; }

.gray {
  background: #8E969B; }

.black {
  background: #000; }

#colorSelect {
  background: #fff;
  border-radius: 5px;
  clear: both;
  margin: 20px auto 0;
  padding: 8px 0 10px 0;
  max-width: 100%;
  width: 300px;
  position: relative; }
  #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px; }

#addNewColor {
  position: relative;
  background: #946D9B;
  box-shadow: 0 3px 0 0 #5B575C, 0px 3px 5px -1px #4F4F4F;
  color: #fff;
  outline: none;
  text-shadow: 0 1px #5B575C;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  clear: both;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  font-size: 20px; }
  #addNewColor:enabled:active {
    top: 3px;
    box-shadow: none; }
  #addNewColor:disabled {
    opacity: 0.7; }

.sliders {
  padding-top: 4px; }
  .sliders p {
    margin: 8px 0;
    vertical-align: middle; }
  .sliders label {
    text-align: right;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 20%;
    font-size: 16px; }
  .sliders input {
    position: relative;
    width: 60%;
    top: 4px; }

/********** SEARCH BY POKEMON *************/
.search-by-pokemon {
  margin-top: 30px; }
  .search-by-pokemon .options {
    text-align: center; }
    .search-by-pokemon .options p {
      display: inline-block;
      font-size: 2em; }
      @media only screen and (max-width: 480px) {
        .search-by-pokemon .options p {
          font-size: 1.5em; } }
      .search-by-pokemon .options p span {
        color: #FF7575; }
    .search-by-pokemon .options select {
      font-size: 2em; }
      @media only screen and (max-width: 568px) {
        .search-by-pokemon .options select {
          font-size: 1em; } }
  @media only screen and (max-width: 568px) {
    .search-by-pokemon {
      display: none; } }

.mini-gallery {
  display: none;
  text-align: center;
  height: 150px;
  overflow: hidden;
  background: white; }
  @media only screen and (max-width: 900px) {
    .mini-gallery {
      height: 120px; } }
  @media only screen and (max-width: 568px) {
    .mini-gallery {
      display: none !important; } }
  .mini-gallery img {
    max-height: 100%;
    float: right; }
  .mini-gallery .gallery-button-container {
    display: table;
    float: right;
    height: 100%;
    padding: 20px; }
    .mini-gallery .gallery-button-container .gallery-button {
      position: relative;
      background: #946D9B;
      box-shadow: 0 3px 0 0 #57405B, 0px 3px 5px -1px #4F4F4F;
      color: #fff;
      outline: none;
      text-shadow: 0 1px #57405B;
      display: block;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      border-radius: 5px;
      clear: both;
      border-radius: 5px;
      display: table-cell;
      vertical-align: middle;
      padding: 20px; }
      .mini-gallery .gallery-button-container .gallery-button:enabled:active {
        top: 3px;
        box-shadow: none; }
      .mini-gallery .gallery-button-container .gallery-button:disabled {
        opacity: 0.7; }

/********** FOOTER **********************/
footer {
  background: #444;
  color: #eee;
  padding: 20px 0;
  position: relative;
  padding-bottom: .5em; }
  footer:after {
    position: absolute;
    display: inline-block;
    content: '';
    height: .5em;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(0deg, #F42A35 6.25%, #FFA200 6.25%, #FFA200 12.5%, #FFD500 12.5%, #FFD500 18.75%, #A8BF12 18.75%, #A8BF12 25%, #2EB52F 25%, #2EB52F 31.25%, #00AAB5 31.25%, #00AAB5 37.5%, #325BC5 37.5%, #325BC5 43.75%, #946D9B 43.75%, #946D9B 50%, #F42A35 50%, #F42A35 56.25%, #FFA200 56.25%, #FFA200 62.5%, #FFD500 62.5%, #FFD500 68.75%, #A8BF12 68.75%, #A8BF12 75%, #2EB52F 75%, #2EB52F 81.25%, #00AAB5 81.25%, #00AAB5 87.5%, #325BC5 87.5%, #325BC5 93.75%, #946D9B 93.75%);
    background: linear-gradient(90deg, #F42A35 6.25%, #FFA200 6.25%, #FFA200 12.5%, #FFD500 12.5%, #FFD500 18.75%, #A8BF12 18.75%, #A8BF12 25%, #2EB52F 25%, #2EB52F 31.25%, #00AAB5 31.25%, #00AAB5 37.5%, #325BC5 37.5%, #325BC5 43.75%, #946D9B 43.75%, #946D9B 50%, #F42A35 50%, #F42A35 56.25%, #FFA200 56.25%, #FFA200 62.5%, #FFD500 62.5%, #FFD500 68.75%, #A8BF12 68.75%, #A8BF12 75%, #2EB52F 75%, #2EB52F 81.25%, #00AAB5 81.25%, #00AAB5 87.5%, #325BC5 87.5%, #325BC5 93.75%, #946D9B 93.75%); }
  footer .footerLink {
    float: left;
    width: 100%; }
  footer #byline {
    float: right;
    width: 100%;
    text-align: right; }
  footer .fb-like-box {
    float: right; }
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #BD9E70; }
    footer a:hover {
      color: #E4C08A; }
